sudo pacman -S mosquitto
systemctl start mosquitto.service
sudo nano /etc/mosquitto/mosquitto.conf
    - add 
        listener 1885
        allow_anonymous true

sudo systemctl restart mosquitto.service

mosquitto_pub -h localhost -p 1885 -t "esp/test" -m '{ "measurement": {"value": 25.0, "unit": "Celsius" } }'
mosquitto_sub -h localhost -p 1885 -t "esp32/test" -v
